@red: rgba(221,51,35,1.0);
@red-hover: darken(@red,15%);

@blue-100: rgba(0,66,130,1.0);
@blue-70: rgba(0,66,130,0.7);
@blue-35: rgba(0,66,130,0.35);
@blue-hover: darken(@blue-100, 10%);

@dark: #313131;
@text-color: #2E2E2D;
@text-color-light: #BEBEBE;

@brand-color-primary: @red;
@brand-color-primary-hover: @red-hover;
@brand-color-secondary: @blue-100;
@brand-color-secondary-hover: @blue-hover;

@button-border-radius: 4px;