.content {
	padding: 100px 0;
}

.avia-section {
	border: none;
}

// DARK BACKGROUND

#top .avia-section[style*="background-color: #2e2e2d;"] {
	color: #fff;
}


// Intro

#top #wrap_all #intro {
	background-size: cover;
	padding: 40px 0 0;
	overflow: hidden;

	.content {
		padding: 0;
	}

	.av_two_third {
		padding-bottom: 30px;
	}

	h1, .h1 {
		font-size: 40px;
		line-height: 50px;
		color: #fff;

		@media (max-width: 900px) {
			font-size: 38px;
		}
	}

	img.avia_image {
		margin-top: -15px;
	}

	ul {
		color: #fff;
		font-size: 20px;
		line-height: 30px;
		margin-left: 0;
		margin-bottom: 30px;

		@media (max-width: 900px) {
			margin-bottom: 20px;
		}

		li {
			list-style: none;
			margin: 0 0 0 35px;
			padding: 3px 0;
			position: relative;
			color: #fff;

			&:before {
				content: "";
				display: block;
				background: transparent url(../img/list-icon-white.svg) no-repeat 0 0;
				width: 22px;
				height: 22px;
				position: absolute;
				left: -35px;
				top: 7px;
			}
		}
	}

	.avia-button-wrap {
		@media (max-width: 425px) {
			width: 100%;
			text-align: center;
			margin: 0;
		}

		a { display: inline-block; }
	}
}


// Animated Numbers

#top .avia-section[style*="background-color: #2e2e2d;"] .avia-animated-number {
	.avia-animated-number-title,
	.avia-animated-number-content {
		color: white;
	}
}

#top .avia-animated-number {
	.avia-animated-number-title,
	.avia-animated-number-content {
		font-size: 28px;
		font-weight: bold;
		line-height: 50px;
		letter-spacing: 0;
		white-space: unset;

		> * { opacity: unset; }

		.avia-no-number {
			font-size: unset;
			font-weight: unset;
		}

		.avia-single-number {
			font-size: 80px;
			margin: 0 10px;

			@media (max-width: 450px) {
				margin: 15px 0 20px;
				display: block;
			}
		}
	}

	+ div { margin-top: 30px !important; }
}


// Buttons

body div {
	.avia-button {
		.mixin-button-default;

		&:active {
			border-width: 0;
		}
	}

	.avia-align-center .avia-button-center {
		display: inline-block;
	}
}

/* when two adjacent buttons, make the second red */
.avia-button-wrap {

	@media (max-width: 450px) {
		> .avia-button {
			float: none;
		}
	}

	+ br {display: none;}

	+ br + .avia-button-wrap > .avia-button,
	+ .avia-button-wrap > .avia-button {
		.mixin-button-red;
		margin-left: 15px;

		@media (max-width: 450px) {
			float: none;
			margin-top: 10px;
			margin-bottom: 0;
			margin-left: 0;
		}
	}
}


// Headline Only

.avia_textblock {
	h2, .h2 {
		only-child {
			margin-bottom: 70px;

			@media (max-width: 767px) {
				margin-bottom: 40px;
			}
		}
	}
}


// Icon List

#top .avia-icon-list-container {

	ul.avia-icon-list {
		li + li {
			margin-top: 20px;
		}

		.iconlist_icon  {
			color: @brand-color-secondary;
			font-size: 26px;
			margin-top: -5px;
		}

		.entry-content-header {
			font-weight: bold;
			font-size: 20px;
			margin-bottom: 8px;
		}

		.iconlist_content a {
			font-weight: bold;
		}
	}
}


// Price List

#preise main {
	padding-bottom: 40px;
}

#top .pricing-table-wrap {

	.avia-heading-row { border-radius: 0; font-size: 20px; height: 47px; }
	&:nth-last-child(3) .avia-heading-row {
		background-color: @blue-35;
	}

	&:nth-last-child(2) {
		.avia-heading-row { background-color: @blue-70 !important; }
		.avia-pricing-row, .currency-symbol { color: @red !important; }
	} 
	
	&:last-child .avia-heading-row {
		background-color: @blue-100;
	}

	ul.pricing-table {
		border: 1px solid @text-color-light;
		background-color: #fff;
		padding-bottom: 20px;

		li {
			border: none;
			padding-left: 20px;
			padding-right: 20px;

			// odd
			&:nth-child(2n+3) {
				background-color: #fff;
			}

			&.avia-pricing-row {
				background-color: #fff;
				color: @text-color;
				font-size: 40px;

				.currency-symbol {
					background-color: transparent;
					top: 0;
					color: @text-color;
					font-size: 40px;
					text-shadow: none;
					opacity: unset;
					font-weight: bold;
				}

				small {
					font-size: 14px;
					color: @text-color-light;
					opacity: unset;
					text-shadow: none;
					font-style: normal;
					letter-spacing: 0;
					margin-top: 10px;
				}
			}

			&.avia-button-row {
				padding-top: 0;
				padding-bottom: 0;
				background-color: #fff;
				
				> div { margin-top: 0; }
				
				.avia-button {
					.mixin-button-red;
					width: 100%;
				}

				+ li { text-align: right; }
			}

			button, a.avia-button {
				width: 100%;
				background-color: @red;
				&:hover,&:focus,&:active{ background-color: @red-hover;  }
			}
		}

		ul {
			color: @text-color;
			max-width: 440px;
			display: inline-block;
			margin: 0;

			li {
				list-style: none;
				margin-left: 0;
				padding-left: 26px;
				position: relative;
				text-align: left;

				&:before {
					background: url(../img/icon-check.svg) no-repeat 0 0;
					content: "";
					display: block;
					height: 10px;
					left: 2px;
					position: absolute;
					top: 12px;
					width: 13px;
				}

				&.disabled {
					opacity: 0.3;

					&:before { content: none; }
				}

			}
		}
	}
}


// Pricing Calculator

#top .calc-pricing {
	background-color: @dark;
	color: #fff;
	font-size: 28px;
	font-weight: bold;
	left: 50%;
	line-height: 84px;
	margin-left: -50vw;
	margin-top: 30px;
	margin-bottom: 0;
	overflow: hidden;
	padding: 70px 0;
	position: relative;
	text-align: center;
	width: 100vw;

	@media (max-width: 375px) {
		font-size: 22px;

		.calc-result {
			font-size: 60px;
		    line-height: 22px;
		    display: block;
		    margin-top: 30px;
		}
	}

	&:before {
		background-color: #f7f7f7;
		content: "";
		display: block;
		height: 100px;
		left: 100px;
		margin: 0 auto;
		position: absolute;
		right: 0;
		top: -80px;
		transform: translateX(-50%) rotate(45deg);
		width: 100px;
	}

	> p {
		margin: 0;
	}

	select {
		color: @text-color;
		display: inline-block;
		font-size: 40px;
		font-weight: bold;
		margin: 0 20px;
		width: 140px;
		text-align-last: center;
	}

	.calc-result {
		font-size: 60px;
	}

	small {
		font-weight: normal;
		font-size: 20px;
	}

	.avia-button-wrap {
		line-height: 24px;

		a {
			background-color: @red;

			&:hover,&:focus,&:active,&:visited {
				background-color: @red-hover;
			}
		}
	}
}


// Press

#press {
	background-position: top center !important;
    background-size: contain;

	.avia_textblock ul {
		margin: 0;
		position: relative;

		li {
			color: #959595;
			height: 275px;
			list-style: none;
			margin-bottom: 20px;
			margin: 0;
			padding: 0;
			position: absolute;
			text-align: center;
			width: 200px;

			@media (max-width: 1409px) {
				float: left;
				left: 0 !important;
				position: relative;
				top: 0 !important;
				width: 50%;
				min-height: 180px;
				height: auto;

				&:nth-child(4n+3) {
					clear: left;
				}
			}

			a {
				top: 50% !important;
				transform: translateY(-50%) !important;
				position: absolute;
				left: 0;
				right: 0;
				display: block;
			}

			@media (max-width: 425px) {
				margin-top: 60px;
				min-height: 0;
				width: 100%;
				float: none;

				a {
					position: relative;
					transform: none !important;
				}
			}

			&:first-child  { left:  0%; top: 160px; }
			&:nth-child(2) { left: 26%; top: -10px; }
			&:nth-child(3) { left: 54%; top: 120px; }
			&:nth-child(4) { left: 80%; top:  -50px; }

			&:before {
				content: none;
			}

			img {
				display: block;
				margin: 0 auto 20px;
			}

			em {
				font-style: normal;
				font-size: 13px;
				display: block;
			}
		}
	}
}


// Promobox

#top .avia-pricing-table-container + .av_promobox {
	margin-top: -20px;
}

#top .av_promobox {
	background-color: @dark;
	border: none;
	color: #fff;
	font-weight: 300;
	margin-top: 0;

	a,h1,h2,h3,h4,h5,h6,
	.h1,.h2,.h3,.h4,.h5,.h6, { color: #fff; }
	
	h1,h2,
	.h1,.h2 { margin-bottom: 20px; }
	a { font-weight: 400; }
	p { font-size: 16px; }
}


// HR

#top .hr-short {
	&.avia-builder-el-first {
		margin: 0;
		margin-top: -110px;
		margin-bottom: 80px;	
	}

	.hr-inner {
		width: 10%;
		left: 46%;
		margin-left: 0;
		border-color: @text-color-light;
	}

	.hr-inner-style {
		display: none;
	}
}


// Slide Show

#top .avia-slideshow li img {
	width: auto;
}


// Content Slider

#top #wrap_all {
	.avia-content-slider {
		position: relative;
		padding: 0 0 30px;

		.h1,.h2,.h3,.h4,.h5,.h6 {
			a { color: @text-color; }
		}

		h3, .h3 {
			font-size: 32px;
	    	line-height: 1.4em;
	    	text-align: center;
		}

		.slide-entry {
			min-height: 251px;
		}

		.avia-slideshow-arrows {
			position: absolute;
			bottom: 0;
			left: 50%;
			top: auto;

			a {
				border-radius: 50%;
				font-weight: bold;
				height: 34px;
				width: 34px;
				font-size: 20px;

				&.prev-slide {right: 30px;}
				&.next-slide {left: 30px;}

				&:before {
					padding-top: 5px;
				}
			}
		}
	}

	.avia-content-slider-heading {
		padding-bottom: 0;
		margin-bottom: -20px;

		p:last-child {
			margin-bottom: 0;
		}
	}
}


// Special Heading

.special-heading-border {
	display: none;
}



// Tabs

#top .tabcontainer.tabs-center {
	.tab_titles {
		text-align: center;
		margin-bottom: 30px;

		> .tab {
			border-radius: 0;
			border: 1px solid @text-color;
			color: @text-color;
			display: inline-block;
			float: none;
			font-weight: bold;
			min-width: 160px;
			padding: 5px 20px 6px 20px;
			position: relative;

			&:first-child,&:last-child {
				border-radius: 0;
			}
			

			+ .tab { border-left: none; }

			&.active_tab {
				background-color: @text-color;
				color: #fff;

				&:after {
					background-color: @text-color;
					bottom: -6px;
					content: "";
					display: block;
					font-size: 14px;
					height: 10px;
					left: 0;
					margin: 0 auto;
					position: absolute;
					right: 0;
					transform: rotate(-45deg);
					width: 10px;
				}
			}
		}

		.tab_content {
			background-color: transparent;
			border: none;
			padding: 0;

			.tab_inner_content {
				margin: 0;
			}
		}
	}
}


// Tabs Black

#top .av-tab-section-container.tabs-black {
	background-color: #f7f7f7;

	.pricing-table-wrap:nth-last-child(2) {
		.avia-pricing-row,
		.currency-symbol { color: @text-color !important; }
	} 

	.av-inner-tab-title {
		width: auto;
		margin: 0;
		text-transform: none;
	}

	.av-layout-tab {
		padding-top: 20px;
		padding-bottom: 0;
	}

	.av-section-tab-title .av-tab-arrow-container {
		bottom: -10px;
		display: block;
		left: 0;
		margin: 0 auto;
		position: absolute;
		right: 0;
		top: auto;
     	transform: rotate(180deg);

		span {
			background-color: @text-color;
		}
	}

	.av-tab-section-tab-title-container {
		padding-top: 0;
		background-color: transparent;
	}

	.av-section-tab-title {
		border-radius: 0;
		border: 1px solid @text-color;
		color: @text-color;
		display: inline-block;
		float: none;
		font-weight: bold;
		min-width: 160px;
		padding: 2px 20px 2px 20px;
		position: relative;

		+ .av-section-tab-title { border-left: none; }

		&:first-child,&:last-child {
			border-radius: 0;
		}

		&.av-active-tab-title {
			background-color: @text-color;
			color: #fff;

			// &:after {
			// 	background-color: @text-color;
			// 	bottom: -6px;
			// 	content: "";
			// 	display: block;
			// 	font-size: 14px;
			// 	height: 10px;
			// 	left: 0;
			// 	margin: 0 auto;
			// 	position: absolute;
			// 	right: 0;
			// 	transform: rotate(-45deg);
			// 	width: 10px;
			// }
		}
	}
}


// Team Member

.avia-team-member {
	text-align: center;
	
	.team-member-name { margin-top: 30px;  }

	.team-member-description {
		p:first-child { margin-top: 5px; }
	}
}


// Testimonials

#top #wrap_all .avia-testimonial-wrapper .avia-testimonial {
	border: none;
	padding: 0;
	width: 100%;
	display: block;

	+ .avia-testimonial { margin-top: 60px; }

	p {
		margin-bottom: 0;
		+ p { 
			margin-bottom: 0.85em;
		}
	}

	.avia-testimonial-image {
		border-radius: unset;
		margin-right: 40px;
		width: auto;
		height: auto;

		img { border-radius: unset; width: 180px; height: 180px; }
	}

	.avia-testimonial-name {
		font-weight: normal;
		color: @text-color-light;
		margin-bottom: 2 * 0.85em;
	}

	a.avia-testimonial-link {
		font-weight: bold;

		&:after {
			content: "";
			background: url(../img/icon-arrow-right-blue.svg) no-repeat 0 0;
			width: 8px;
			height: 12px;
			display: inline-block;
			margin-left: 10px;
		}
	}
}


// Textblock

.avia_textblock  {
	p:first-of-type {
		margin-top: 0;
	}

	ul {
	margin: 0;
	padding: 0;

		li {
			margin: 0 0 0 24px;
			padding: 0;
			list-style: none;
			position: relative;
			color: #959595;

			&:before {
				content: "";
				background: url(../img/icon-hexagon-grey.svg) no-repeat 0 0;
				width: 18px;
				height: 17px;
				display: inline-block;
				position: absolute;
				top: 4px;
				left: -24px;
			}
		}
	}
}


// Thank you Page

div#thank-you {
	background-size: cover;
	min-height: 70vh;
}