.mixin-button-default {
	color: #fff;
	border-radius: @button-border-radius;
	padding: 8px 20px;
	text-transform: uppercase;
	font-family: "Roboto Condensed", "Helvetica Neue", Arial, sans-serif;
	font-size: 18px !important;
	background-color: @brand-color-secondary;
	padding: 15px 30px 13px;
	display: inline-block;
}

.mixin-button-red {
	.mixin-button-default;
	background-color: @brand-color-primary;

	&:hover { background-color: @brand-color-primary-hover;	}
}

.mixin-button-blue {
	.mixin-button-default;
	background-color: @brand-color-secondary;

	&:hover { background-color: @brand-color-secondary-hover; }
}

.mixin-button-small-red {
	.mixin-button-red;
	padding: 4px 10px;
	font-size: 14px !important;
}

#top #wrap_all form {
	fieldset {
		max-width: none;
	}

	legend {
		font-size: 0.9em;
	}

	label {
		font-size: 0.8em;
		font-weight: bold;
	}

	label,legend {
		span {
			font-size: 16px;
		}
	}

	input[type="text"],
	input[type="tel"],
	input[type="email"],
	select {
		background: #fff;
		border: 0px solid #e0e0e0;
		border-bottom-width: 1px;
		color: @text-color-light;
	}

	input[type="checkbox"] {
		margin-right: 15px;
		margin-left: 0;
		font-size: 16px;
	}

	select {
		background: url(../img/icon-select-down.svg) no-repeat center right;
     	background-size: 21px 10px;
		padding-right: 30px;
		position: relative;
	}

	::-webkit-input-placeholder {
		color: @text-color-light;
	}

	ul.hs-error-msgs {
		color: @red;
		margin-left: 0;
		list-style: none;

		li {
			margin-left: 0;
			padding-top: 0;

			label {
				font-weight: normal;
			}
		}
	}

	ul.inputs-list {
		list-style: none;
		margin-left: 0;

		li {
			margin-left: 0;
		}
	}

	.hs-richtext {
		font-size: 13px;
	    line-height: 17px;
	    margin-bottom: 10px;
	}

	input[type="submit"] {
		font-size: 0.92em;
		.mixin-button-blue;
		display: block;
		margin: 0 auto;
	}
}