// body, container etc.

html,
#scroll-top-link {
	background-color: #fff;
}

#top .main_color .avia-color-theme-color {
	border-color: transparent;
}

.responsive .container {
	max-width: 1090px;
}

#main {
	display: flex;  /* use the flex model */
	min-height: 100%;
	flex-direction: column;
}


// Logo

.logo img {
	width: 225px;
}


// Typography

#top #wrap_all .all_colors {

	h1, .h1 {
		font-size: 32px;
		margin-bottom: 26px;
	}
	
	h2, .h2 {
		font-size: 32px;
    	line-height: 1.4em;
		margin-bottom: 16px;

		@media (max-width: 767px) {
			font-size: 26px;
			line-height: 36px;
		}
	}

	h3, .h3 {
		font-size: 19px;
		margin-bottom: 8px;
	}

	h1,h2,h3,h4,h5,h6,
	.h1,.h2,.h3,.h4,.h5,.h6 {
		letter-spacing: normal;
	}

	.h1,.h2,.h3,.h4,.h5,.h6 {
		display: block;
	}
}

p { margin: 1.5em 0; }

h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6 {
	word-break: break-word;
	+ p { margin-top: 0; }
}

.main-color a {
	color: #12437f;
}

.avia-align-right { text-align: right; }
.avia-align-left { text-align: left; }
.avia-align-center { text-align: center; }


div.howto ol {
	counter-reset: my-badass-counter;
	list-style: none;
	margin: 0 0 50px;
	position: relative;

	li {
		color: @brand-color-secondary;
		position: relative;
		margin-left: 40px;
		font-weight: bold;
		padding-bottom: 25px;

		&:before {
			color: @brand-color-secondary;	
			border-radius: 50%;
			border: 2px solid;
			border-color: color;
			content: counter(my-badass-counter);
			counter-increment: my-badass-counter;
			display: block;
			font-family: "Roboto Condensed", "Helvetica Neue", Arial, sans-serif;
			font-weight: bold;
			height: 32px;
			left: -40px;
			position: absolute;
			text-align: center;
			top: 0px;
			width: 32px;
			box-sizing: border-box;
			font-size: 20px;
		}

		&:after {
			background: #004282;
			border-bottom: 37px solid #f7f7f7;
			box-sizing: border-box;
			content: "";
			display: block;
			height: 100%;
			left: -25px;
			position: absolute;
			top: 34px;
			width: 2px;
		}

		&.active, &.active:before, &.active:after, { color: @brand-color-primary; }
		&.active:before { border-color: @brand-color-primary; }

		&:last-child:after {
			content: none;
		}

		&:hover, &:focus, &:active {
			a {
				color: @brand-color-secondary;
				text-decoration: underline;
			}
		}

		&.active a { color: @brand-color-primary; text-decoration: none; }
	}
}


// How To Slider for Mobile Screens

#top #wrap_all #howto {
	@media (min-width: 768px) {
		.avia-slideshow-arrows,
		.avia-slideshow-dots,
		.avia-caption {
			display: none;
		}
	}

	@media (max-width: 767px) {

		.avia-slideshow-arrows,
		.avia-slideshow-dots,
		.avia-slideshow-controls a,
		.avia-caption {
			display: block;
		}

		.avia-caption {
			position: relative;
			padding: 0;
			top: 0;
			left: 0;
			right: 0;
		}


		.avia-slideshow-dots {
			bottom: 20px;

			a {
				display: inline-block;
				bottom: 0;
				margin-left: 5px;
				margin-right: 5px;

				&.active, &:hover { background-color: @brand-color-secondary; }
			}
		}

		.avia-slideshow-arrows {
			margin-top: 0;

			a {
				font-size: 15px;
				height: 40px;
				margin: 0;
				width: 40px;

				&:before { line-height: 42px; }
			}
		}

		.avia-slideshow {
			padding-bottom: 40px;
			margin-bottom: 40px;
		}

		ul.avia-slideshow-inner {
			counter-reset: my-badass-counter;

			> li {
				h2, .h2 {
					background-color: transparent;
					color: @brand-color-secondary;
					font-size: 16px;
					font-weight: 700;
					line-height: 26px;
					padding-left: 40px;
					letter-spacing: normal;
					padding-right: 0;

					&:before {
						color: @brand-color-secondary;	
						border-radius: 50%;
						border: 2px solid;
						border-color: color;
						content: counter(my-badass-counter);
						counter-increment: my-badass-counter;
						display: block;
						font-family: "Roboto Condensed", "Helvetica Neue", Arial, sans-serif;
						font-weight: bold;
						height: 32px;
						left: 0;
						position: absolute;
						text-align: center;
						top: 8px;
						width: 32px;
						box-sizing: border-box;
						font-size: 20px;
					}
				}

				img {
					width: 90%;
    				margin: 0 5%;
				}
			}
		}
	}
}


div.text-arrow-left p {
	padding-left: 64px;
	position: relative;

	&:before {
		content: "";
		background: url(../img/arrow-big-right.svg) no-repeat 0 0;
		display: block;
		width: 44px;
		height: 40px;
		display: block;
		position: absolute;
		left: 0;
	}
}


// Header

.html_header_top.html_header_sticky #main {
	padding-top: 90px;
}


// Main Nav

#top #header .av-main-nav > li {
	> a {
		font-weight: normal;
		padding: 0;

		&:hover, &:active &:focus {
			.avia-menu-text { color: @brand-color-primary; }
			.avia-menu-fx { visibility: hidden !important; }
		}
	}

	+ li { margin-left: 46px; }

	// #menu-item-98 to button
	&.av-menu-button > a {
		.avia-menu-text {
			.mixin-button-red;
			display: inline;
			font-size: 16px;
			padding: 13px 30px 12px;
		}
		.avia-menu-fx { visibility: hidden !important; }
	}
}

// Box with Hexagon Background

#top .box-hexagon-dark {
	background: url(../img/bg-hexagon-dark.svg) no-repeat top center;
	background-size: contain;

	.av_promobox {
		background-color: transparent;
	}

	@media (max-width: 460px) {
		background-color: @dark;
		background-image: none;

		br {display: none;}
	}

	@media (min-width: 768px) and (max-width: 830px) {
		min-height: 500px;

		h2, .h2 {
			font-size: 25px !important;
			margin-top: 24px;
		}

		p {
			font-size: 14px !important;
    		line-height: 20px;
    		margin: 0 10px 15px;
    	}

		br {display: none;}
	}

	@media (min-width: 831px) and (max-width: 928px) {
		min-height: 500px;

		h2, .h2 {
			font-size: 27px !important;
			margin-top: 24px;
		}

		p {
			font-size: 16px !important;
    		line-height: 22px;
    		margin: 0 10px 15px;
    	}

		br {display: none;}
	}
}

// To Top Link

@media (max-width: 767px) {
	.responsive #scroll-top-link {
		display: block;
	}
}

#scroll-top-link.avia_pop_class {
	background: url(../img/to-top.svg) no-repeat center center;
	height: 65px;
	width: 72px;
	border: none;
	opacity: 1;
	bottom: 160px;

	&::before { content: none; }

	@media (max-width: 767px) {
		bottom: 15px;
		right: 15px;
	}
}

#help-link {
	background: url(../img/help.svg) no-repeat center center;
	height: 66px;
	width: 72px;
    display: block;
    position: fixed;
    right: 56px;
    bottom: 224px;
    z-index: 1030;
    font-family: "Roboto Condensed", "Helvetica Neue", Arial, sans-serif;

    span#help-text.visible {
		background: #4A4A4A;
		display: block;
		font-weight: bold;
		height: 45px;
		left: -5px;
		line-height: 45px;
		position: absolute;
		text-align: center;
		top: -60px;
		width: 75px;

		&:after {
			background: #4a4a4a;
			content: "";
			display: block;
			height: 20px;
			left: 0;
			margin: 0 auto;
			position: absolute;
			right: 0;
			top: 32px;
			transform: rotate(45deg);
			width: 20px;
		}
    }

	&::before { content: none; }

	@media (max-width: 767px) {
		bottom: 80px;
		right: 20px;
	}
}


// Footer

#top #footer {
	border: none;
	font-size: 14px;
	font-weight: 300;
	line-height: 18px;
	padding-bottom: 40px;
	z-index: 2;

	.widget {
		margin-bottom: 10px;
		margin-top: 20px;

		&:not(:first-child) { margin-top: 0; }
		

		h3, .h3 {
			&.widgettitle {
				font-size: 16px;
				text-transform: none;
				color: #fff;
				margin-top: 0;
			}
		}

		ul.menu li a { padding: 0 !important; }
	}

	.widget_nav_menu li {
		font-size: 14px;

		a { padding: 0; }

		&.current-menu-item>a,
		.widget_nav_menu .current_page_item>a {
			font-weight: unset;
		}
	}

	a[href^="tel"],
	a[href^="mailto"] {
		&:hover, &:focus, &:active { text-decoration: none; }
		&:before {
			font-family: "entypo-fontello";
	    	margin-right: 10px;
		}
	}

	a[href^="tel"]:before { content: "\e854"; transform: scaleX(-1); }
	a[href^="mailto"]:before { content: "\e805"; }

	a.icon {
		font-size: 16px;
		height: 21px;
		background-color: #fff;
		border-radius: 50%;
		color: #000;
	    display: inline-block;
	    margin-bottom: 7px;
	    margin-right: 7px;
	    width: 21px;
	    text-align: center;

	    &:hover,
	    &:focus,
	    &:active {
	    	text-decoration: none;
	    }
   	}


	a[title="Facebook"] {
		padding-right: 3px;
		padding-top: 2px;
		text-align: right;
	}

	a[title="YouTube"] {
		padding: 2px;
    	font-size: 15px;
	}

	// first column
	.container > .flex_column:first-child {
		font-size: 18px;
		line-height: 24px;
		background: transparent url(../img/logo-werkerapp-white.svg) no-repeat 0 10px;
		width: 270px;

		section {
			margin-left: 20px;
			margin-top: 38px;
		}
	}

	// other columns
	.container > .flex_column:not(:first-child) {

		&.av_one_fifth {
			margin-left: 3%;
			&:nth-child(2) { clear: both; }

	    	@media (max-width: 665px) {
	    		width: 47%;
	    	}

			@media (min-width: 666px) {
	    		width: 22%;
	    	}

			@media (min-width: 768px) {
	    		width: 21.33333333%;
	    		&:nth-child(2) { clear: none; }
	    	}

			@media (min-width: 1020px) {
				width: 14.666666666666666%;
			}
		}
	}
}

footer#socket {
	font-size: 14px;
	text-align: center;
	font-weight: 300;

	.container {
		padding: 7px 0;
	}

	.copyright {
		float: none;
	}
}