// Cookie Notice
#cookie-notice {
    #cn-accept-cookie {
        .mixin-button-small-red;
    }
    #cn-more-info {
        color:@text-color-light;
        padding:9px 3px;
    }
}

// Ditty News Ticker
div.mtphr-dnt {
    background-color: rgba(255,255,255,0.95);
    color: #878786;
    font-size: 14px;
    height: 30px;
    padding-top: 3px;
    position: fixed;
    width: 100%;
    z-index: 20000;
}

div.mtphr-dnt + #wrap_all {
	margin-top: 30px;
}

// Sassy Social Share
div.heateor_sss_sharing_container {
    .heateor_sss_sharing_title {
        font-size: 16px;
        text-align: left;
    }

    ul.heateor_sss_sharing_ul {
        display: flex;
        align-content: stretch;
        border: 1px solid #ebebeb;
        border-radius: 3px;
    }

    li {
        display: block;
        flex-grow: 1;
        max-width: none;
        width: 16% !important;

        > i {
            height: 60px !important;
            width: 100% !important;

            + i {
                border-left: 1px solid #ebebeb;
            }

            > ss {
                height: 35px;
                margin-top: 12px;
            }
        }

        &:first-child > i {
            border-bottom-left-radius: 3px;
            border-top-left-radius: 3px;
        }

        &:last-child > i {
            border-bottom-right-radius: 3px;
            border-top-right-radius: 3px;
        }
    }
}