/* Utilities */
.u-pull-right {
    float: right;
}
.u-pull-left {
    float: left;
}
.u-text-right {
    text-align: right;
}
.u-text-left {
    text-align: left;
}
.u-text-center {
    text-align: center;
}
.u-hidden {
    display:none !important;
}
.u-uppercase {
    text-transform: uppercase;
}
.u-list-unstyled {
    list-style: none;
}
.u-list-inline {
    list-style: none;
    margin:0;
    padding:0;

    li {
        display:inline-block;
    }

    &.u-button-list {
        li + li {
            margin-left:1rem
        }
    }
}